<% content_for :content do %>
 	
	<h1><%=mark_word('דף')%>  <%=@page.name%></h1>

	<%= render :partial => 'pages/page_header', :object =>@page  %>
           
	<div id="admin_control_buttons">
	      <p>
	          <%= page_edit_button(@page) %>  
	        | <%= page_delete_button(@page) %> 
	     </p>
	</div>
	<div id = "end_float"></div>

<%end%>	

