<% content_for :content do %>

<%= stylesheet_link_tag 'contactus' %>

<div id="contactus">
<h1><%=I18n.t('main.contactus.title')%></h1>

<% form_for(@contact, :url=>{:action=>"send_mail"}) do |f| %>
<%= f.error_messages%>
  <p>
    <%= f.label :name, I18n.t('contact.name') %><br />
    <%= f.text_field :name %>
  </p>

  <p>
   <%= f.label :email_address, I18n.t('contact.email_address') %><br /> 
    <%= f.text_field :email_address %>
  </p>

  <p>
	<%= f.label :subject, I18n.t('contact.subject') %><br />
	 <%= f.text_field :subject %>
  </p>

  <p>
    <%= f.label :body, I18n.t('contact.body') %><br />
     <%=f.text_area :body, :rows => 8, :cols => 50 %>
  </p>
  
  <p>
    <%= f.submit I18n.t('main.button.submit'), :class => "submit" %>

  </p>
<% end %>
</div>

<%end%>